@import './base';

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
    font-weight: normal;
    font-family: $default_family;
	overflow-x: auto;
	opacity: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-wrapper {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($accent, 0.8);
    color: $text_color;
    padding: 15px 0;
    z-index: 98;

    .logo {
        margin-right: 40px;
    }

    .slogan {
        font-weight: normal;
    }

    &-content {
        display: flex;
        align-items: center;    
    }

    &-phones {
        display: flex;
        align-items: center;
    }

    .text-phone {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-left: 10px;
        line-height: 1;
        margin-bottom: 2px;
    }
}


.section {
    text-align: center;

    &-main {
        min-height: 100vh;
        padding: 210px 0 20px;
        background-image: url('../img/main-back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;    
        color: #fff;

        #catalog & {
            padding-top: 150px;
        }

        &-title {
            font-size: 48px;
            color: $accent;
            letter-spacing: 1.25px;
            margin-bottom: 80px;
            max-width: 1100px;

            #catalog & {
                margin-bottom: 30px;
            }
        }

        &-text {
            max-width: 950px;
            font-size: 30px;
            font-weight: normal;
            margin: 0 auto 60px;
        }

        &-list {
            font-size: 20px;
            list-style: none;
            padding: 0;
            margin-bottom: 90px;
            display: flex;
            justify-content: space-between;

            li {
                position: relative;
                padding-left: 50px;
                text-align: left;
                &:before {
                    content: "";
                    width: 36px;
                    height: 36px;
                    background-image: url('../img/check-icon.png');
                    position: absolute;
                    top: 0px;
                    left: 0;
                }

                span {
                    display: block;
                }
            }
        }

        .button {
            margin-bottom: 60px;
        }
        
    }

}

@import './_media';